/* custom.css - put this file in your app's 'www' folder */
.main-header.navbar {
  background-color: #f76800 !important; /* replace with your color */
}

/* Optional: adjust brand and link colors so they remain readable */
.main-header .navbar-brand,
.main-header .nav-link,
.main-header .nav > li > a {
  color: #ffffff !important;
}

/* If you use a controlbar or other header parts, adjust them too */
.main-header .navbar .dropdown-menu {
  background-color: #f76800 !important;
  color: #ffffff !important;
}

.nav-link.active {
  font-weight: 700 !important;
  color: white !important;
  background-color: #f76800 !important;
}